.p-1 { padding: .25em; }
.p-2 { padding: .5em; }
.p-3 { padding: 1em; }
.p-4 { padding: 1.5em; }
.p-5 { padding: 3em; }

.px-1 { padding: .25em 0; }
.px-2 { padding: .5em 0; }
.px-3 { padding: 1em 0; }
.px-4 { padding: 1.5em 0; }
.px-5 { padding: 3em 0; }

.py-1 { padding: 0 .25em; }
.py-2 { padding: 0 .5em; }
.py-3 { padding: 0 1em; }
.py-4 { padding: 0 1.5em; }
.py-5 { padding: 0 3em; }

.pt-1 { padding-top: .25em; }
.pt-2 { padding-top: .5em; }
.pt-3 { padding-top: 1em; }
.pt-4 { padding-top: 1.5em; }
.pt-5 { padding-top: 3em; }

.pr-1 { padding-right: .25em; }
.pr-2 { padding-right: .5em; }
.pr-3 { padding-right: 1em; }
.pr-4 { padding-right: 1.5em; }
.pr-5 { padding-right: 3em; }

.pb-1 { padding-bottom: .25em; }
.pb-2 { padding-bottom: .5em; }
.pb-3 { padding-bottom: 1em; }
.pb-4 { padding-bottom: 1.5em; }
.pb-5 { padding-bottom: 3em; }

.pl-1 { padding-left: .25em; }
.pl-2 { padding-left: .5em; }
.pl-3 { padding-left: 1em; }
.pl-4 { padding-left: 1.5em; }
.pl-5 { padding-left: 3em; }

.m-1 { margin: .25em; }
.m-2 { margin: .5em; }
.m-3 { margin: 1em; }
.m-4 { margin: 1.5em; }
.m-5 { margin: 3em; }

.mx-1 { margin: .25em 0; }
.mx-2 { margin: .5em 0; }
.mx-3 { margin: 1em 0; }
.mx-4 { margin: 1.5em 0; }
.mx-5 { margin: 3em 0; }

.my-1 { margin: 0 .25em; }
.my-2 { margin: 0 .5em; }
.my-3 { margin: 0 1em; }
.my-4 { margin: 0 1.5em; }
.my-5 { margin: 0 3em; }

.mt-1 { margin-top: .25em; }
.mt-2 { margin-top: .5em; }
.mt-3 { margin-top: 1em; }
.mt-4 { margin-top: 1.5em; }
.mt-5 { margin-top: 3em; }

.mr-1 { margin-right: .25em; }
.mr-2 { margin-right: .5em; }
.mr-3 { margin-right: 1em; }
.mr-4 { margin-right: 1.5em; }
.mr-5 { margin-right: 3em; }

.mb-1 { margin-bottom: .25em; }
.mb-2 { margin-bottom: .5em; }
.mb-3 { margin-bottom: 1em; }
.mb-4 { margin-bottom: 1.5em; }
.mb-5 { margin-bottom: 3em; }

.ml-1 { margin-left: .25em; }
.ml-2 { margin-left: .5em; }
.ml-3 { margin-left: 1em; }
.ml-4 { margin-left: 1.5em; }
.ml-5 { margin-left: 3em; }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.p-sm-1 { padding: .25em; }
	.p-sm-2 { padding: .5em; }
	.p-sm-3 { padding: 1em; }
	.p-sm-4 { padding: 1.5em; }
	.p-sm-5 { padding: 3em; }

	.px-sm-1 { padding: .25em 0; }
	.px-sm-2 { padding: .5em 0; }
	.px-sm-3 { padding: 1em 0; }
	.px-sm-4 { padding: 1.5em 0; }
	.px-sm-5 { padding: 3em 0; }

	.py-sm-1 { padding: 0 .25em; }
	.py-sm-2 { padding: 0 .5em; }
	.py-sm-3 { padding: 0 1em; }
	.py-sm-4 { padding: 0 1.5em; }
	.py-sm-5 { padding: 0 3em; }

	.pt-sm-1 { padding-top: .25em; }
	.pt-sm-2 { padding-top: .5em; }
	.pt-sm-3 { padding-top: 1em; }
	.pt-sm-4 { padding-top: 1.5em; }
	.pt-sm-5 { padding-top: 3em; }

	.pr-sm-1 { padding-right: .25em; }
	.pr-sm-2 { padding-right: .5em; }
	.pr-sm-3 { padding-right: 1em; }
	.pr-sm-4 { padding-right: 1.5em; }
	.pr-sm-5 { padding-right: 3em; }

	.pb-sm-1 { padding-bottom: .25em; }
	.pb-sm-2 { padding-bottom: .5em; }
	.pb-sm-3 { padding-bottom: 1em; }
	.pb-sm-4 { padding-bottom: 1.5em; }
	.pb-sm-5 { padding-bottom: 3em; }

	.pl-sm-1 { padding-left: .25em; }
	.pl-sm-2 { padding-left: .5em; }
	.pl-sm-3 { padding-left: 1em; }
	.pl-sm-4 { padding-left: 1.5em; }
	.pl-sm-5 { padding-left: 3em; }

	.m-sm-1 { margin: .25em; }
	.m-sm-2 { margin: .5em; }
	.m-sm-3 { margin: 1em; }
	.m-sm-4 { margin: 1.5em; }
	.m-sm-5 { margin: 3em; }

	.mx-sm-1 { margin: .25em 0; }
	.mx-sm-2 { margin: .5em 0; }
	.mx-sm-3 { margin: 1em 0; }
	.mx-sm-4 { margin: 1.5em 0; }
	.mx-sm-5 { margin: 3em 0; }

	.my-sm-1 { margin: 0 .25em; }
	.my-sm-2 { margin: 0 .5em; }
	.my-sm-3 { margin: 0 1em; }
	.my-sm-4 { margin: 0 1.5em; }
	.my-sm-5 { margin: 0 3em; }

	.mt-sm-1 { margin-top: .25em; }
	.mt-sm-2 { margin-top: .5em; }
	.mt-sm-3 { margin-top: 1em; }
	.mt-sm-4 { margin-top: 1.5em; }
	.mt-sm-5 { margin-top: 3em; }

	.mr-sm-1 { margin-right: .25em; }
	.mr-sm-2 { margin-right: .5em; }
	.mr-sm-3 { margin-right: 1em; }
	.mr-sm-4 { margin-right: 1.5em; }
	.mr-sm-5 { margin-right: 3em; }

	.mb-sm-1 { margin-bottom: .25em; }
	.mb-sm-2 { margin-bottom: .5em; }
	.mb-sm-3 { margin-bottom: 1em; }
	.mb-sm-4 { margin-bottom: 1.5em; }
	.mb-sm-5 { margin-bottom: 3em; }

	.ml-sm-1 { margin-left: .25em; }
	.ml-sm-2 { margin-left: .5em; }
	.ml-sm-3 { margin-left: 1em; }
	.ml-sm-4 { margin-left: 1.5em; }
	.ml-sm-5 { margin-left: 3em; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.p-md-1 { padding: .25em; }
	.p-md-2 { padding: .5em; }
	.p-md-3 { padding: 1em; }
	.p-md-4 { padding: 1.5em; }
	.p-md-5 { padding: 3em; }

	.px-md-1 { padding: .25em 0; }
	.px-md-2 { padding: .5em 0; }
	.px-md-3 { padding: 1em 0; }
	.px-md-4 { padding: 1.5em 0; }
	.px-md-5 { padding: 3em 0; }

	.py-md-1 { padding: 0 .25em; }
	.py-md-2 { padding: 0 .5em; }
	.py-md-3 { padding: 0 1em; }
	.py-md-4 { padding: 0 1.5em; }
	.py-md-5 { padding: 0 3em; }

	.pt-md-1 { padding-top: .25em; }
	.pt-md-2 { padding-top: .5em; }
	.pt-md-3 { padding-top: 1em; }
	.pt-md-4 { padding-top: 1.5em; }
	.pt-md-5 { padding-top: 3em; }

	.pr-md-1 { padding-right: .25em; }
	.pr-md-2 { padding-right: .5em; }
	.pr-md-3 { padding-right: 1em; }
	.pr-md-4 { padding-right: 1.5em; }
	.pr-md-5 { padding-right: 3em; }

	.pb-md-1 { padding-bottom: .25em; }
	.pb-md-2 { padding-bottom: .5em; }
	.pb-md-3 { padding-bottom: 1em; }
	.pb-md-4 { padding-bottom: 1.5em; }
	.pb-md-5 { padding-bottom: 3em; }

	.pl-md-1 { padding-left: .25em; }
	.pl-md-2 { padding-left: .5em; }
	.pl-md-3 { padding-left: 1em; }
	.pl-md-4 { padding-left: 1.5em; }
	.pl-md-5 { padding-left: 3em; }

	.m-md-1 { margin: .25em; }
	.m-md-2 { margin: .5em; }
	.m-md-3 { margin: 1em; }
	.m-md-4 { margin: 1.5em; }
	.m-md-5 { margin: 3em; }

	.mx-md-1 { margin: .25em 0; }
	.mx-md-2 { margin: .5em 0; }
	.mx-md-3 { margin: 1em 0; }
	.mx-md-4 { margin: 1.5em 0; }
	.mx-md-5 { margin: 3em 0; }

	.my-md-1 { margin: 0 .25em; }
	.my-md-2 { margin: 0 .5em; }
	.my-md-3 { margin: 0 1em; }
	.my-md-4 { margin: 0 1.5em; }
	.my-md-5 { margin: 0 3em; }

	.mt-md-1 { margin-top: .25em; }
	.mt-md-2 { margin-top: .5em; }
	.mt-md-3 { margin-top: 1em; }
	.mt-md-4 { margin-top: 1.5em; }
	.mt-md-5 { margin-top: 3em; }

	.mr-md-1 { margin-right: .25em; }
	.mr-md-2 { margin-right: .5em; }
	.mr-md-3 { margin-right: 1em; }
	.mr-md-4 { margin-right: 1.5em; }
	.mr-md-5 { margin-right: 3em; }

	.mb-md-1 { margin-bottom: .25em; }
	.mb-md-2 { margin-bottom: .5em; }
	.mb-md-3 { margin-bottom: 1em; }
	.mb-md-4 { margin-bottom: 1.5em; }
	.mb-md-5 { margin-bottom: 3em; }

	.ml-md-1 { margin-left: .25em; }
	.ml-md-2 { margin-left: .5em; }
	.ml-md-3 { margin-left: 1em; }
	.ml-md-4 { margin-left: 1.5em; }
	.ml-md-5 { margin-left: 3em; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.p-lg-1 { padding: .25em; }
	.p-lg-2 { padding: .5em; }
	.p-lg-3 { padding: 1em; }
	.p-lg-4 { padding: 1.5em; }
	.p-lg-5 { padding: 3em; }

	.px-lg-1 { padding: .25em 0; }
	.px-lg-2 { padding: .5em 0; }
	.px-lg-3 { padding: 1em 0; }
	.px-lg-4 { padding: 1.5em 0; }
	.px-lg-5 { padding: 3em 0; }

	.py-lg-1 { padding: 0 .25em; }
	.py-lg-2 { padding: 0 .5em; }
	.py-lg-3 { padding: 0 1em; }
	.py-lg-4 { padding: 0 1.5em; }
	.py-lg-5 { padding: 0 3em; }

	.pt-lg-1 { padding-top: .25em; }
	.pt-lg-2 { padding-top: .5em; }
	.pt-lg-3 { padding-top: 1em; }
	.pt-lg-4 { padding-top: 1.5em; }
	.pt-lg-5 { padding-top: 3em; }

	.pr-lg-1 { padding-right: .25em; }
	.pr-lg-2 { padding-right: .5em; }
	.pr-lg-3 { padding-right: 1em; }
	.pr-lg-4 { padding-right: 1.5em; }
	.pr-lg-5 { padding-right: 3em; }

	.pb-lg-1 { padding-bottom: .25em; }
	.pb-lg-2 { padding-bottom: .5em; }
	.pb-lg-3 { padding-bottom: 1em; }
	.pb-lg-4 { padding-bottom: 1.5em; }
	.pb-lg-5 { padding-bottom: 3em; }

	.pl-lg-1 { padding-left: .25em; }
	.pl-lg-2 { padding-left: .5em; }
	.pl-lg-3 { padding-left: 1em; }
	.pl-lg-4 { padding-left: 1.5em; }
	.pl-lg-5 { padding-left: 3em; }

	.m-lg-1 { margin: .25em; }
	.m-lg-2 { margin: .5em; }
	.m-lg-3 { margin: 1em; }
	.m-lg-4 { margin: 1.5em; }
	.m-lg-5 { margin: 3em; }

	.mx-lg-1 { margin: .25em 0; }
	.mx-lg-2 { margin: .5em 0; }
	.mx-lg-3 { margin: 1em 0; }
	.mx-lg-4 { margin: 1.5em 0; }
	.mx-lg-5 { margin: 3em 0; }

	.my-lg-1 { margin: 0 .25em; }
	.my-lg-2 { margin: 0 .5em; }
	.my-lg-3 { margin: 0 1em; }
	.my-lg-4 { margin: 0 1.5em; }
	.my-lg-5 { margin: 0 3em; }

	.mt-lg-1 { margin-top: .25em; }
	.mt-lg-2 { margin-top: .5em; }
	.mt-lg-3 { margin-top: 1em; }
	.mt-lg-4 { margin-top: 1.5em; }
	.mt-lg-5 { margin-top: 3em; }

	.mr-lg-1 { margin-right: .25em; }
	.mr-lg-2 { margin-right: .5em; }
	.mr-lg-3 { margin-right: 1em; }
	.mr-lg-4 { margin-right: 1.5em; }
	.mr-lg-5 { margin-right: 3em; }

	.mb-lg-1 { margin-bottom: .25em; }
	.mb-lg-2 { margin-bottom: .5em; }
	.mb-lg-3 { margin-bottom: 1em; }
	.mb-lg-4 { margin-bottom: 1.5em; }
	.mb-lg-5 { margin-bottom: 3em; }

	.ml-lg-1 { margin-left: .25em; }
	.ml-lg-2 { margin-left: .5em; }
	.ml-lg-3 { margin-left: 1em; }
	.ml-lg-4 { margin-left: 1.5em; }
	.ml-lg-5 { margin-left: 3em; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.p-xl-1 { padding: .25em; }
	.p-xl-2 { padding: .5em; }
	.p-xl-3 { padding: 1em; }
	.p-xl-4 { padding: 1.5em; }
	.p-xl-5 { padding: 3em; }

	.px-xl-1 { padding: .25em 0; }
	.px-xl-2 { padding: .5em 0; }
	.px-xl-3 { padding: 1em 0; }
	.px-xl-4 { padding: 1.5em 0; }
	.px-xl-5 { padding: 3em 0; }

	.py-xl-1 { padding: 0 .25em; }
	.py-xl-2 { padding: 0 .5em; }
	.py-xl-3 { padding: 0 1em; }
	.py-xl-4 { padding: 0 1.5em; }
	.py-xl-5 { padding: 0 3em; }

	.pt-xl-1 { padding-top: .25em; }
	.pt-xl-2 { padding-top: .5em; }
	.pt-xl-3 { padding-top: 1em; }
	.pt-xl-4 { padding-top: 1.5em; }
	.pt-xl-5 { padding-top: 3em; }

	.pr-xl-1 { padding-right: .25em; }
	.pr-xl-2 { padding-right: .5em; }
	.pr-xl-3 { padding-right: 1em; }
	.pr-xl-4 { padding-right: 1.5em; }
	.pr-xl-5 { padding-right: 3em; }

	.pb-xl-1 { padding-bottom: .25em; }
	.pb-xl-2 { padding-bottom: .5em; }
	.pb-xl-3 { padding-bottom: 1em; }
	.pb-xl-4 { padding-bottom: 1.5em; }
	.pb-xl-5 { padding-bottom: 3em; }

	.pl-xl-1 { padding-left: .25em; }
	.pl-xl-2 { padding-left: .5em; }
	.pl-xl-3 { padding-left: 1em; }
	.pl-xl-4 { padding-left: 1.5em; }
	.pl-xl-5 { padding-left: 3em; }

	.m-xl-1 { margin: .25em; }
	.m-xl-2 { margin: .5em; }
	.m-xl-3 { margin: 1em; }
	.m-xl-4 { margin: 1.5em; }
	.m-xl-5 { margin: 3em; }

	.mx-xl-1 { margin: .25em 0; }
	.mx-xl-2 { margin: .5em 0; }
	.mx-xl-3 { margin: 1em 0; }
	.mx-xl-4 { margin: 1.5em 0; }
	.mx-xl-5 { margin: 3em 0; }

	.my-xl-1 { margin: 0 .25em; }
	.my-xl-2 { margin: 0 .5em; }
	.my-xl-3 { margin: 0 1em; }
	.my-xl-4 { margin: 0 1.5em; }
	.my-xl-5 { margin: 0 3em; }

	.mt-xl-1 { margin-top: .25em; }
	.mt-xl-2 { margin-top: .5em; }
	.mt-xl-3 { margin-top: 1em; }
	.mt-xl-4 { margin-top: 1.5em; }
	.mt-xl-5 { margin-top: 3em; }

	.mr-xl-1 { margin-right: .25em; }
	.mr-xl-2 { margin-right: .5em; }
	.mr-xl-3 { margin-right: 1em; }
	.mr-xl-4 { margin-right: 1.5em; }
	.mr-xl-5 { margin-right: 3em; }

	.mb-xl-1 { margin-bottom: .25em; }
	.mb-xl-2 { margin-bottom: .5em; }
	.mb-xl-3 { margin-bottom: 1em; }
	.mb-xl-4 { margin-bottom: 1.5em; }
	.mb-xl-5 { margin-bottom: 3em; }

	.ml-xl-1 { margin-left: .25em; }
	.ml-xl-2 { margin-left: .5em; }
	.ml-xl-3 { margin-left: 1em; }
	.ml-xl-4 { margin-left: 1.5em; }
	.ml-xl-5 { margin-left: 3em; }
}